
.navbar {
  background-color: white;
}
body {
  background-image: url(images/brick-wallpaper.png);
  background-position: fixed;
}
.nav-link {
  color: #986a00;
}
.row {
  padding: 1em;
}
.nav-link:hover {
  color: black;
  border: 3px solid #986a00;
}
p {
  text-align: center;
}
button {
  background-color: #CD4568; 
  color: white;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-item {
  line-height: 3;
}
h5 {
  color: #986a00;
  font-family: munito;
  font-weight: 700;
  letter-spacing: 1px;
}
.list-unstyled a {
  text-decoration: none;
  font-size: 20px;
}
li  {
  line-height: 2;
}
.card {
  border: 5px solid #B87FBA;
}